<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/templates/item/item.css}"/>
<head th:replace="fragments/head/head :: head">
    <title id="pageTitle">Home</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/header/header :: header"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${item.name}" class="page">Name
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="thumbnail">
                <img th:src="@{${item.imageReference}}" alt="Image not found"></div>
        </div>
        <div class="col-md-5">
            <h3>Description</h3>
            <p th:text="${item.description}"></p>
            <h4>Price</h4>
            <p th:text="'$'+${item.price}"></p>
            <button type="button" class="btn " id="BuyButton">Add to cart</button>
            <input type="hidden" th:value="${item.id}" name="id"/>
        </div>
    </div>
</div>
<script  th:src="@{/templates/item/item.js}"></script>

</body>
</html>