<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/templates/home/home.css}"/>
<head th:replace="fragments/head/head :: head">
    <title id="pageTitle">Home</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/header/header :: header"></div>
    </div>
</div>


<!-- Page Content -->
<div class="container-fluid">
    <div class="col-md-2" id="categoryNavigation">
        <div class=" navbar-default navbar-fixed-left ">
            <a class="navbar-brand" href="#">Categories</a>
            <ul class="nav navbar-nav">
                <li class="dropdown" th:each="group: ${allCategoryPools}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            th:text="${group.name}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li th:each="cat : ${group.categories}"><a th:href="'?group='+${cat.categoryPool.name}+
                        '&category='+${cat.name}" th:text="${cat.name}">Category</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>



    <div class="col-md-10" id="itemContainer">
        <div class="card pull-left" th:each="item : ${allItems}">
            <img class="card-img-top img-responsive" th:src="@{${item.imageReference}}" alt="Card image cap">
            <div class="card-block">
                <a th:href="'item/'+${item.id}">
                    <h5  th:text="${item.name}" style="display: inline-block" class="card-title">Card title</h5>
                    <h6  th:text="'$'+${item.price}"  class="item-price">Card title</h6>

                </a>
                <p th:text="${item.description}" class="card-text">Short description of a lot </p>
                <div th:if="${session.authenticatedAdmin!= null}"  th:remove="tag">
                    <input type="hidden" th:value="${item.id}" name="id"/>
                    <a class="btn btn-danger" id="deleteItemButton">Delete</a>
                    <a th:href="'user/admin/modify_item/'+${item.id}" class="btn btn-warning"
                       id="modifyItemButton">Modify</a>
                </div>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-sm-3 col-lg-3 col-md-3 item-container" th:each="item : ${allItems}">-->
                <!--<div class="thumbnail">-->
                    <!--<div class="item">-->
                        <!--<img th:src="@{${item.imageReference}}" alt="Image not found">-->
                    <!--</div>-->
                    <!--<div class="caption">-->
                        <!--<h4 class="pull-right" th:text="'$'+${item.price}">Price</h4>-->
                        <!--<h4>-->
                            <!--<a th:href="'item/'+${item.id}" th:text="${item.name}">Name</a>-->
                        <!--</h4>-->
                        <!--<p th:text="${item.description}">Short description of a lot </p>-->
                    <!--</div>-->

                    <!--<div th:if="${session.authenticatedAdmin!= null}" class="container">-->
                        <!--<button type="button" class="btn btn-danger" id="deleteItemButton">Delete</button>-->
                        <!--<input type="hidden" th:value="${item.id}" name="id"/>-->
                        <!--<a type="button" th:href="'user/admin/modify_item/'+${item.id}" class="btn btn-warning"-->
                           <!--id="modifyItemButton">Modify</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<!-- /.container -->



<script src="home.js" th:src="@{/templates/home/home.js}"></script>
</body>
</html>