body {
    padding-bottom: 20px;
    padding-top: 64px!important;
}

.main-page-fluid-container {
    padding-left: 0px;
}

.navbar-fixed-left {
    width: 240px;
    /*width: 2000px;*/
    position: relative;
    border-radius: 0;
}




.dropdown-menu > li {
    height: 47px;


}
.dropdown-menu > li > a {
    height: 47px;

}

.dropdown-menu {
    padding: 0px 0;
    border-radius: 1px;
    text-align: center;
font-size: 15px;

}

.navbar-fixed-left .navbar-nav > li {
    float: left;
    width: 250px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 0 lightgray ;
}

#categoryNavigation {
    width: 250px;
    text-align: center;
}

#resetButton {
    width: 250px;
    text-align: center;
}

.navbar-fixed-left .navbar-nav > li:hover {
    background-color: #4887CE ;
}

.dropdown-menu > li > a {
    box-shadow: 1px 1px 1px 0 lightgray ;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #4887CE ;
    color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #4887CE;
}

.navbar-fixed-left .navbar-nav .dropdown :hover {
    color: white;
}

.navbar-fixed-left .navbar-nav   .dropdown  :hover {
    color: white;
}

.navbar-fixed-left + .container {
    padding-left: 160px;

}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -47px;
    margin-left: 251px;
}

#categoryNavigation {
    font-size: larger;
    padding-left: 0px;
    padding-top: 0px;
}

#itemContainer {
    padding-left: 27px;
    padding-top: 30px;

}

.card {

    max-width: 240px;
    padding: 15px;
    margin: 5px;
    border: solid 1px lightgray;
    border-radius: 20px;
    width: 30rem;
    box-shadow: 5px 5px 5px 0 darkgrey;

}

.card .card-img-top {
    max-height: 125px;
    min-height: 125px;

}

.card .card-text {
    max-height: 50px;
    min-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-price {
    float: right;
    display: inline-block;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.my-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;

}

