<div th:fragment="footer" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{/templates/fragments/footer/footer.css}"/>

    <footer class="footer-distributed ">
        <div class="footer-right">
            <h3 style="font-family: Calibri">Gadget <span>Shop</span></h3>
            <p class="footer-company-name">github.com/jumpyee/online-shop </p>
            <p class="footer-company-name">Stoliar Taras &copy; 2017 </p>
        </div>
    </footer>
</div>