<div th:fragment="footer" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{/templates/fragments/footer/footer.css}"/>

    <footer class="footer-distributed ">
        <div class="footer-left">

            <h3 style="font-family: Calibri">Sombra <span>Shop</span></h3>

            <p class="footer-company-name">Stolyar Taras &copy; 2017</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="glyphicon glyphicon-home"></i>
                <p><span>5 Leontovycha street</span> Lviv, Ukraine</p>
            </div>
            <div>
                <i class=" 	glyphicon glyphicon-earphone"></i>
                <p>+380-93-854-3009</p>
            </div>
        </div>

        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>

        </div>
    </footer>
</div>