<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/templates/filter/403/403.css}"/>
<head th:replace="fragments/head/head :: head">
    <title id="pageTitle">Access denied</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/header/header :: header"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="accessDeniedPage"><h2><span>Access denied!</span> You don't have rights to access
            this page. </h2>
        <div class="image-wrapper"><img th:src="@{/images/static/penguin.png}"></div>
            <h1><a href="/">Home</a></h1></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/footer/footer :: footer"></div>
    </div>
</div>
</body>
</html>